
  <div class="container">

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width:400px">
            <img class="card-img-top" 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQa-zwGJ0ZRQTihcLRabYXlvTTMyktF2ZClNETAUhPHzTTQ2ROx" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <a href="#" class="btn btn-primary">show details</a>
            </div>
        </div>
        </div>
        <div class="col-sm-9">
    
        </div>
       </div>
       <div class="jumbotron" style="margin-bottom: 0px;color: gainsboro;">
    
       </div>
    

  </div>