<div class="jumbotron container" style="margin-top: 20px; margin-bottom: 20px;">
    <h1 style="text-align: center;"><b>Exam on Angular</b></h1>
    <br>
    <h3 style="color: darkred;">Instructions</h3>
    <br>
    <b> During the exam:</b>
    <br>
    <ul style="text-align: center;">
        
        <li>
            <p>
                The student may not use his or her textbook, course notes, or receive help from a proctor or any other outside source.
            </p>
        </li>
        <li>
            <p>
                Students must complete the 50-question multiple-choice exam within the 75-minute time frame allotted for the exam.
            </p>
        </li>
        <li>
            <p>
                Students must not stop the session and then return to it. This is especially important in the online environment where the system will "time-out" and not allow the student or you to reenter the exam site.
            </p>
        </li>
    </ul>
    <br>
    <div class="text-center">
        <button type="button" class="btn btn-danger">Start Exam</button>
    </div>
  </div>